In [ ]:

import sys
!{sys.executable} -m pip install pandas

In [4]:
import pandas as pd
dat={
    'name':['sayan','raj','mili'],
    'grade':['a','b','c'],
    'marks':[67,89,56],
    'event':['rain','sunny','fog']
}
df=pd.read_csv('timezone.csv')
df

                 Value        Label    Group
0       Africa/Abidjan      Abidjan   Africa
1         Africa/Accra        Accra   Africa
2   Africa/Addis_Ababa  Addis Ababa   Africa
3       Africa/Algiers      Algiers   Africa
4          Asia/Anadyr       Anadyr     Asia
5       Asia/Jerusalem    Jerusalem     Asia
6           Asia/Kabul        Kabul     Asia
7       Asia/Kamchatka    Kamchatka     Asia
8         Asia/Karachi      Karachi     Asia
9       Asia/Kathmandu    Kathmandu     Asia
10       Asia/Khandyga     Khandyga     Asia
11        Asia/Kolkata      Kolkata     Asia
12    Asia/Krasnoyarsk  Krasnoyarsk     Asia
13      Pacific/Easter       Easter  Pacific

In [9]:
df[['Value','Label']][df.Group=='Africa']

                Value        Label
0      Africa/Abidjan      Abidjan
1        Africa/Accra        Accra
2  Africa/Addis_Ababa  Addis Ababa
3      Africa/Algiers      Algiers